@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
body{
    background-color: #f3f4f8;
    font-family: 'Oswald', sans-serif;
}
.center{
    text-align: center;
}
.schoolName{
    font-size: 60px;
    color: #F9BF3B;
}
h1{
    font-family: 'Oswald', sans-serif;
}
h2{
    font-size: 70px;
    color: black;
}
p{
    color: gray;
}
ul li{
    color: gray;
}

div#wrapper{
    background-color: #fafafa;
    padding: 20px;
    width: 1000px;
    margin: auto;
    word-wrap: break-word;
}
a:link{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: gray;
}
a:visited{
    color: gray;
}
a:active{
    background-color: black;
}