@charset "utf-8";
/*Created by James Krape on 12/11/14*/
body{
	font-family: "Trenchbuchet MS", sans-serif;
	font-size: 11px;
	margin: 50px;
	background-color: #474C54;
	background-size: auto;
}
h1{
	color: #474C54;
	font-variant: small-caps;
	font-size: 25px;
	word-wrap: break-word;
}
h2{
	color: #CCCCCC;
	font-size: 14px;
	font-variant: small-caps;
	background-color: #4B5154;
}

.imgRight{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.imgLeft{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
div#wrapper{
	background-color: #fafafa;
	padding: 20px;
	width: 1000px;
	margin: auto;
	word-wrap: break-word;
}
a:link{
	color: gray;
	text-decoration: none;
}
a:hover{
	color: gray;
}
a:visited{
	color: gray;
}
a:active{
	background-color: black;
}
/*navigation menu styles*/
div#skipnav{
	top: 5px;
	left: 5px;
	position: absolute;
	right: 50%;
}
div#ul_3 {
				top: 5px;
				left: 150px;
				position: absolute;
				right: 5px;
				max-width: 10000px; /* for  below IE7 use `width: 660px;` */
    			margin: 0 auto;
		}
		/*Navigation Menu Styles*/
		div#ul_3 ul {
				list-style-type: none;
		}
		div#ul_3 ul li {
				float: left;
				margin-right: 5px;
				width: 15%;
		}
		div#ul_3 ul li a {
				padding: 0.25em 1em;
				text-decoration: none;
				background-color: #EBF5FF; /*pale blue*/
				color: #4312AE; /*dark blue*/
				border: 2px solid black;
				border-top-left-radius: 1em 1em; /*rounded corners*/
				border-top-right-radius: 1em 1em;
				border-bottom-left-radius: 1em 1em;
				border-bottom-right-radius: 1em 1em;
		}
		div#ul_3 ul li a: hover, div#ul_3 ul li a:focus {
				color: black;
				background-color: white;
				font-weight: bold;
		}